.inputBox {
  width: 30%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  z-index: 2;
}
      
#input {margin: 50px auto}
      
.tile {
  width: 10px;
  height: 10px;
  font-size: 10px;
  position: fixed;
  background-blend-mode: screen;
  z-index: 0;
}